			body {
				background-color:black;
			}
			table {
				font-style: italic;
			}
			th {
				font-style: normal;
				color:black;
				text-align: center;
			}
			h2 {
			color:green;
			font-family: 'Righteous', cursive;
			}
			h1 {
				font-family: 'Righteous', cursive;
			}
			h3 {
				font-family: 'Righteous', cursive;
			}

			@font-face {
			font-family: 'Righteous', cursive;
			font-style:normal;
			font-weight:400;
			src:url(https://fonts.googleapis.com/css?family=Righteous);
			}
			a:hover {
				text-decoration: underline;
				background-color:green;
			}
			a:link {
				text-decoration: none:
			}
			a:visited {
				text-decoration: none;
			}
			a:active {
				text-decoration:none;
			}
			tbody {
				background-color: green;
			}
			div.tr1 {
				background-color: orange;
			}
